<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CISCO SignUp Page</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <p>CISCO</p>
            </div>

            <div class="nav-menu" id="navMenu">
                <ul>
                    <li><a href="{{url_for('home')}}" class="link active">Home</a></li>
                    <li><a href="{{url_for('blog')}}" class="link">Blog</a></li>
                    <li><a href="{{url_for('services')}}" class="link">Services</a></li>
                    <li><a href="{{url_for('about')}}" class="link">About</a></li>
                </ul>
            </div>

            <div class="nav-button">

                <div class="nav-button">
                    <button type="button" class=" btn white-btn" id="signupBtn"
                        onclick="window.location.href='{{url_for('signup')}}';">Sign Up</button>
                    <button type="button" class="btn " id="loginBtn"
                        onclick="window.location.href='{{url_for('login')}}';">Sign In</button>
                </div>
            </div>

            <div class="nav-menu-btn">
                <i class="bx bx-menu" onclick="myMenuFunction()"></i>
            </div>

        </nav>
    </div>


    <div class="form-wrapper">


        <!------------------------- Form Box ------------------------->
        <div class="form-box">
            <!------------------------- SignUp Form ------------------------->
            <div class="signUp-container" id="SignUp">

                <!-- <script>
                    window.onload = function () {
                        var flashedMessage = "{{ get_flashed_messages()[0] }}";
                        if (flashedMessage) {
                            alert(flashedMessage);
                        }
                    };
                </script> -->

                <!-- <div> -->
                <!-- {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %} -->
                <!-- </div> -->

                <div class="top">
                    <header>Sign Up</header>
                </div>

                <!-- <form action="/signup" method="POST"> -->
                <form action="{{url_for('signup')}}" method="POST">

                    <!--  -->
                    <div class="two-forms">
                        <div class="input-box">
                            <input type="text" class="input-field" placeholder="Firstname" id="fname" name="fname"
                                required>
                            <i class="bx bx-user"></i>
                        </div>
                        <div class="input-box">
                            <input type="text" class="input-field" placeholder="Lastname" id="lname" name="lname"
                                required>
                            <i class="bx bx-user"></i>
                        </div>
                    </div>

                    <!-- box for email entry -->
                    <div class="input-box">
                        <input type="email" class="input-field" id="email" placeholder="Email/Mobile No." name="email"
                            required>
                        <i class="bx bx-envelope"></i>
                    </div>

                    <!-- box for password entry -->
                    <div class="input-box">
                        <input type="password" class="input-field" id="password" placeholder="Password" name="password"
                            required>
                        <i class="bx bx-lock-alt"></i>
                    </div>

                    <script>
                        window.onload = function () {
                            var flashedMessage = "{{ get_flashed_messages()[0] }}";
                            if (flashedMessage) {
                                alert(flashedMessage);
                            }
                        };
                    </script>

                    <!-- box for submit -->
                    <div class="input-box">
                        <input type="submit" class="submit" id="signup" value=" Sign Up">
                    </div>

                    <div class="two-col">
                        <div class="one">
                            <input type="checkbox" id="signup-check">
                            <label for="signup-check"> Remember Me</label>
                        </div>
                        <div class="two">
                            <label><a href="#">Terms & conditions</a></label>
                        </div>
                    </div>

                </form>

                <!-- box for signIn -->
                <div class="input-box"><br>
                    <a href="{{url_for('login')}}">
                        <button class="sign-in-btn">
                            Already a Member?<br>Login </button>
                    </a>
                </div>

            </div>

        </div>

    </div>

    <script>
        function myMenuFunction() {
            var i = document.getElementById("navMenu");
            if (i.className === "nav-menu") {
                i.className += " responsive";
            } else {
                i.className = "nav-menu";
            }
        }
    </script>

</body>

</html>